@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
html,
body,
h1,
h2,
h3,
h4,
p,
li,
a,
ul,
div,
header,
section,
blockquote
 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}
body,
html {
    height: 100%;
    min-height: 100%;
    position: relative;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif
}
*, *::before, *::after {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("/assets/fonts/hinted-ProximaNova-Regular.ttf");
    src: local("Proxima Nova"), local("ProximaNova-Regular"), url("/assets/fonts/hinted-ProximaNova-Regular.ttf?#iefix") format("embedded-opentype"), url("/assets/fonts/hinted-ProximaNova-Regular.otf") format("otf"), url("/assets/fonts/hinted-ProximaNova-Regular.otf") format("otf"), url("/assets/fonts/hinted-ProximaNova-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("/assets/fonts/hinted-ProximaNova-Semibold.ttf");
    src: local("Proxima Nova Semibold"), local("ProximaNova-Semibold"), url("/assets/fonts/hinted-ProximaNova-Semibold.ttf?#iefix") format("embedded-opentype"), url("/assets/fonts/hinted-ProximaNova-Semibold.otf") format("otf"), url("/assets/fonts/hinted-ProximaNova-Semibold.otf") format("otf"), url("/assets/fonts/hinted-ProximaNova-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}
@font-face {
    font-family: 'Proxima Nova';
    src: url("/assets/fonts/hinted-ProximaNova-Bold.ttf");
    src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("/assets/fonts/hinted-ProximaNova-Bold.ttf?#iefix") format("embedded-opentype"), url("/assets/fonts/hinted-ProximaNova-Bold.otf") format("otf"), url("/assets/fonts/hinted-ProximaNova-Bold.otf") format("otf"), url("/assets/fonts/hinted-ProximaNova-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}
@font-face {
    font-family: 'Moderat';
    src: local("Moderat-Regular"), url("/assets/fonts/Moderat-Regular.otf") format("truetype"), url("/assets/fonts/Moderat-Regular.otf") format("otf");
    font-weight: normal;
    font-style: normal
}
@font-face {
    font-family: 'Moderat';
    src: local("Moderat-Light"), url("/assets/fonts/Moderat-Light.otf") format("truetype"), url("/assets/fonts/Moderat-Light.otf") format("otf");
    font-weight: 300;
    font-style: normal
}
@font-face {
    font-family: 'Moderat';
    src: local("Moderat-Black"), url("/assets/fonts/Moderat-Black.otf") format("truetype"), url("../assets/fonts/Moderat-Black.otf") format("otf");
    font-weight: 900;
    font-style: normal
}
@font-face {
    font-family: 'Moderat';
    src: local("Moderat-Bold"), url("/assets/fonts/Moderat-Bold.otf") format("truetype"), url("../assets/fonts/Moderat-Bold.otf") format("otf");
    font-weight: bold;
    font-style: normal
}
h1{
    font-size: 2.6em
}

h2{
    font-size: 2.2em
}

h3{
    font-size: 1.857em
}

h4{
    font-size: 1.571em
}
header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    -webkit-transition: .4s ease;
    transition: .4s ease;
    background-color: rgba(255, 255, 255, 0)
}
header.scrolling{
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    
}

header .navsub {
    text-align: right;
    padding: 15px 0 0
}

header .navsub a {
    font-family: "Proxima Nova", sans-serif;
    font-size: .7857142857rem;
    line-height: 13px;
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
    margin-left: 10px;
    padding: 0.2em 0.4em
}
header.scrolling .navsub a{
    color: #1e0936;
}
header .navsub a:hover {
    opacity: 1;
    font-weight: 500
}

header .navmain {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
    position: relative
}

header .navmain .logo {
    display: block
}
header .navmain .logo svg .cube {
    fill:#fff;
}
header .navmain .logo svg .circle {
    fill: #b0acff
}

header .navmain .logo svg .letters {
    fill: #fff
}
header.scrolling .navmain .logo svg .cube {
    fill:#1e0936;
}


header.scrolling .navmain .logo svg .letters {
    fill: #4842B7
}

header .navmain .burger {
    display: none
}

header .navmain .right {
    text-align: right
}

header .navmain .right .nav-item-container {
    display: -webkit-inline-box;
    display: inline-flex;
    align-content: center;
    -webkit-box-align: center;
    align-items: center
}

header .navmain .right .nav-item-container .nav-item {
    display: inline-block;
    margin-left: 1.4em
}

header .navmain .right .nav-item-container .nav-item.dropdown,
header .navmain .right .nav-item-container .nav-item.link {
    padding: 15px 0
}

header .navmain .right .nav-item-container .nav-item.dropdown>span,
header .navmain .right .nav-item-container .nav-item.link>span {
    font-family: "Moderat", sans-serif;
    font-weight: 500;
    font-size: 1.0714285714rem;
    line-height: 18px;
    color: #fff;
    opacity: 0.9;
    text-decoration: none;
    padding: 10px 5px;
    display: inline-block;
    cursor: pointer
}
header.scrolling .right .nav-item-container .nav-item.dropdown>span,
header.scrolling .navmain .right .nav-item-container .nav-item.link>span{
    color: #1e0936;
}
header .scrolling.right .nav-item-container .nav-item.dropdown:hover,
header .scrolling .right .nav-item-container .nav-item.link:hover {
    box-shadow: inset 0 -2px 0 #4842B7
}

header .navmain .right .nav-item-container .nav-item.dropdown {
    position: relative
}

header .navmain .right .nav-item-container .nav-item.dropdown.full-width {
    position: static
}

header .navmain .right .nav-item-container .nav-item.dropdown.full-width .dropdown-container {
    padding: 37px 15px;
    max-width: 100%
}

header .navmain .right .nav-item-container .nav-item.dropdown.full-width .dropdown-container .columns>div {
    width: 25%
}

header .navmain .right .nav-item-container .nav-item.dropdown.full-width a {
    margin-left: 39px;
    display: inline-block
}

header .navmain .right .nav-item-container .nav-item.dropdown .dropdown-container {
    display: block;
    background: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.13);
    position: absolute;
    top: 100%;
    left: 0;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .15s ease .1s;
    transition: .15s ease .1s;
    max-width: 220px;
    width: 100vw;
    padding: 30px 15px 22px
}
header .navmain .right .nav-item-container .nav-item.dropdown .dropdown-container .columns {
    display: -webkit-box;
    display: flex
}
header .navmain .right .nav-item-container .nav-item.dropdown .dropdown-container .columns>div {
    -webkit-box-flex: 1;
    flex-grow: 1;
    padding: 0 15px
}
header .navmain .right .nav-item-container .nav-item.dropdown .dropdown-container .columns>div.separator {
    border-right: 1px solid rgba(0, 0, 0, 0.1)
}
header .navmain .right .nav-item-container .nav-item.dropdown .category {
    font-family: "Moderat", sans-serif;
    font-weight: 500;
    font-size: 1.1428571429rem;
    line-height: 18px;
    color: #1e0936;
    display: block;
    margin-bottom: 4px
}
header .navmain .right .nav-item-container .nav-item.dropdown img {
    height: 20px;
    width: 20px;
    -o-object-fit: contain;
    object-fit: contain;
    display: inline-block;
    vertical-align: top;
    margin-right: 5px
}
header .navmain .right .nav-item-container .nav-item.dropdown .title-container {
    display: inline-block;
    vertical-align: top;
    max-width: calc(100% - 30px)
}
header .navmain .right .nav-item-container .nav-item.dropdown p {
    font-size: 1rem;
    line-height: 1.3;
    color: #1e0936;
    opacity: 0.6;
    display: block
}
header .navmain .right .nav-item-container .nav-item.dropdown a {
    font-family: "Moderat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 16px;
    color: #1e0936;
    text-decoration: none;
    display: table;
    padding: .2em 0;
    -webkit-transition: .1s ease;
    transition: .1s ease;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    position: relative
}
header .navmain .right .nav-item-container .nav-item.dropdown a.icon-link {
    padding: 10px;
    border-radius: 4px;
    display: block;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
    width: calc(100% + 5px)
}
header .navmain .right .nav-item-container .nav-item.dropdown a.icon-link img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px
}
header .navmain .right .nav-item-container .nav-item.dropdown a.icon-link span {
    display: inline-block;
    vertical-align: middle;
    font-family: "Moderat", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 16px;
    color: #1e0936
}
header .navmain .right .nav-item-container .nav-item.dropdown a.icon-link:hover {
    background-color: rgba(72, 66, 183, 0.05);
    color: inherit
}

header .navmain .right .nav-item-container .nav-item.dropdown a.icon-link:hover:after {
    display: none !important
}

header .navmain .right .nav-item-container .nav-item.dropdown a.page-link {
    display: block !important;
    margin-left: 0;
    padding: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 4px
}

header .navmain .right .nav-item-container .nav-item.dropdown a.page-link:hover {
    background-color: rgba(72, 66, 183, 0.05)
}

header .navmain .right .nav-item-container .nav-item.dropdown a.page-link::after {
    display: none !important
}

header .navmain .right .nav-item-container .nav-item.dropdown a::after {
    content: "";
    left: 0;
    top: 100%;
    width: 0;
    height: 1px;
    background-color: rgba(72, 66, 183, 0.8);
    -webkit-transition: .2s ease;
    transition: .2s ease;
    position: absolute
}

header .navmain .right .nav-item-container .nav-item.dropdown a:hover {
    color: #4842B7
}

header .navmain .right .nav-item-container .nav-item.dropdown a:hover:after {
    width: 100%
}

header .navmain .right .nav-item-container .nav-item.dropdown a+a {
    margin-top: 10px
}

header .navmain .right .nav-item-container .nav-item.dropdown:hover .dropdown-container {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

@media screen and (max-width: 979px) {
    header {
        padding: 20px 0
    }
    header.open .navmain {
        position: static
    }
    header.open .navmain .right {
        text-align: left
    }
    header.open .navmain .right .nav-item-container {
        display: block
    }
    
    header .navsub {
        display: none
    }
    header .navmain .burger {
        display: block;
        cursor: pointer
    }
    header .navmain .right {
        text-align: right
    }
    header .navmain .right .nav-item-container {
        position: absolute;
        top: 81px;
        left: 0;
        width: 100%;
        display: none;
        background-color: #fff;
        height: calc(100vh - 81px);
        overflow: auto;
        padding: 20px
    }
    header.scrolling .navmain .right .nav-item-container{
        color:  #1e0936;
    }
    header .navmain .right .nav-item-container .nav-item {
        display: block;
        margin-left: 0
    }
    header .navmain .right .nav-item-container .nav-item.dropdown,
    header .navmain .right .nav-item-container .nav-item.link {
        padding: 5px 10px
    }
    header .navmain .right .nav-item-container .nav-item.dropdown:hover,
    header .navmain .right .nav-item-container .nav-item.link:hover {
        box-shadow: none
    }
    header .navmain .right .nav-item-container .nav-item.link {
        margin-left: 0;
        border-radius: 4px
    }
    header .navmain .right .nav-item-container .nav-item.link:hover {
        background-color: rgba(72, 66, 183, 0.05)
    }
    header .navmain .right .nav-item-container .nav-item.link span {
        font-size: 1.4285714286rem;
        color: #1e0936;
    }
    header .navmain .right .nav-item-container .nav-item.dropdown>span {
        font-size: 1.4285714286rem;
        color: #1e0936;
    }
    header .navmain .right .nav-item-container .nav-item.dropdown.full-width>span {
        display: none
    }
    header .navmain .right .nav-item-container .nav-item.dropdown.full-width .dropdown-container {
        padding: 0;
        max-width: 100%
    }
    header .navmain .right .nav-item-container .nav-item.dropdown.full-width .dropdown-container .columns>div {
        width: 100%
    }
    header .navmain .right .nav-item-container .nav-item.dropdown.full-width a {
        display: block;
        margin-left: 42px
    }
    header .navmain .right .nav-item-container .nav-item.dropdown .dropdown-container {
        box-shadow: none;
        position: relative;
        top: 0;
        left: 0;
        text-align: left;
        opacity: 1;
        visibility: visible;
        -webkit-transition: .15s ease 0s;
        transition: .15s ease 0s;
        max-width: 100%;
        width: 100%;
        padding: 0
    }
    header .navmain .right .nav-item-container .nav-item.dropdown .dropdown-container .columns {
        display: block
    }
    header .navmain .right .nav-item-container .nav-item.dropdown .dropdown-container .columns>div {
        padding: 0
    }
    header .navmain .right .nav-item-container .nav-item.dropdown .dropdown-container .columns>div.separator {
        border-right: none
    }
    header .navmain .right .nav-item-container .nav-item.dropdown .category {
        font-size: 1.4285714286rem
    }
    header .navmain .right .nav-item-container .nav-item.dropdown img {
        height: 23px;
        width: 23px;
        margin-right: 10px
    }
    header .navmain .right .nav-item-container .nav-item.dropdown .title-container {
        max-width: calc(100% - 40px)
    }
    header .navmain .right .nav-item-container .nav-item.dropdown p {
        display: none
    }
    header .navmain .right .nav-item-container .nav-item.dropdown a {
        font-size: 1.1428571429rem;
        display: block;
        padding: .5em .2em;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        margin-left: 10px;
        border-radius: 4px;
        margin-left: 42px;
        padding: .5em .2em
    }
    header .navmain .right .nav-item-container .nav-item.dropdown a:hover {
        background-color: rgba(72, 66, 183, 0.05)
    }
    header .navmain .right .nav-item-container .nav-item.dropdown a.page-link {
        padding: 10px 5px;
        margin-bottom: 0;
        margin-left: 0
    }
    header .navmain .right .nav-item-container .nav-item.dropdown a+a {
        margin-bottom: 10px
    }
    header .navmain .right .nav-item-container .nav-item.dropdown a::after {
        display: none
    }
    header .btn {
        margin-top: 20px
    }
}

.header {
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f7));
    background: linear-gradient(to bottom, #fff, #f3f3f7);
    padding: 162px 20px 76px;
    text-align: center
}

.header h1,
.header .is-h1 {
    font-family: "Moderat", sans-serif;
    font-size: 2.8571428571rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    color: #4c4c4c;
    margin-bottom: 12px
}

.header .subtitle {
    font-size: 1.4285714286rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    text-align: center;
    color: #8f8f8f;
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: block
}

.header .place {
    margin-top: 10px;
    font-size: 1em;
    color: #342C3E;
    display: block
}

.header .b {
    margin: 30px 15px 0
}

.header.gradient-blue {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7771E4), to(#4842B7));
    background-image: linear-gradient(180deg, #7771E4 0%, #4842B7 100%);
    padding: 170px 20px 120px
}

.header.gradient-blue h1,
.header.gradient-blue .is-h1 {
    font-family: "Moderat", sans-serif;
    font-size: 3.1428571429rem;
    font-weight: normal;
    line-height: normal;
    text-align: center;
    color: #fff;
    display: block;
    margin-bottom: 16px
}

.header.gradient-blue .subtitle {
    font-size: 1.5714285714rem;
    color: rgba(255, 255, 255, 0.7)
}

@media screen and (max-width: 979px) {
    .header.gradient-blue {
        padding: 100px 20px
    }
    .header.gradient-blue h1,
    .header.gradient-blue .is-h1 {
        font-size: 2rem
    }
    .header.gradient-blue .subtitle {
        font-size: 1.4285714286rem;
        line-height: 1.7
    }
}

@media screen and (max-width: 768px) {
    .header.checklist-header {
        padding: 100px 20px 50px
    }
    .header.checklist-header h1,
    .header.checklist-header .is-h1 {
        font-size: 2rem;
        line-height: 1.17;
        color: #4c4c4c;
        margin-bottom: 12px
    }
    .header.checklist-header .subtitle {
        font-size: 1.2857142857rem;
        line-height: 1.47;
        color: #8f8f8f;
        margin: 0 auto
    }
    .header.checklist-header .subtitle strong {
        font-weight: bold
    }
}

.header.product h1,
.header.product .is-h1 {
    color: #423453
}

.header.product .subtitle {
    color: #584969
}

.button-wrapper a{
    display: inline-block;
    margin: 0 10px;
}

.header.team {
    background: #36214e;
    padding: 150px 0 50px
}

.header.team h1,
.header.team .is-h1 {
    font-family: "Moderat", sans-serif;
    font-size: 3.4285714286rem;
    font-weight: bold;
    letter-spacing: -0.6px;
    color: #ffffff;
    margin-bottom: 20px
}

.header.team .subtitle {
    margin: 0 auto 20px;
    max-width: 700px;
    font-size: 1.5rem;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.5)
}

@media screen and (max-width: 768px) {
    .header.team {
        padding: 80px 20px 40px
    }
    .header.team h1,
    .header.team .is-h1 {
        font-size: 2rem
    }
    .header.team .subtitle {
        font-size: 1.2857142857rem
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 140px 20px 90px
    }
    .header h1,
    .header .is-h1 {
        font-size: 2.1428571429rem
    }
    .header .subtitle {
        font-size: 1.2857142857rem
    }
    .header .btn {
        margin-top: 20px
    }
}

footer {
    background-color: #1e0936;
    position: relative;
    z-index: 10
}

footer .ready {
    padding: 45px 20px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.13)
}

footer .ready .wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center
}

footer .ready h4,
footer .ready .is-h4 {
    font-size: 1.5rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: #ffffff
}

footer .ready .or {
    opacity: 0.5;
    font-size: .9285714286rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    color: #ffffff;
    margin: 0 24px
}

footer .ready .subtitle {
    font-size: 1.2857142857rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.11;
    color: rgba(255, 255, 255, 0.7)
}

footer nav {
    padding: 55px 20px 100px
}

footer nav .wrapper>ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between
}

footer nav .wrapper>ul>li:last-child {
    width: 20%
}

footer nav .wrapper>ul>li h4,
footer nav .wrapper>ul>li .is-h4 {
    font-size: .8571428571rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.5px;
    color: #ffffff;
    text-transform: uppercase;
    display: block;
    margin-bottom: 15px
}

footer nav .wrapper>ul>li>ul>li {
    color: #fff
}

footer nav .wrapper>ul>li>ul>li a {
    font-size: 1.0714285714rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.0;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none
}

footer nav .wrapper>ul>li>ul>li a:hover {
    text-decoration: underline
}

footer nav .wrapper>ul>li.link-list {
    max-width: 180px
}

footer nav .wrapper>ul>li.link-list ul li+li {
    margin-top: 10px
}

footer nav .wrapper>ul>li.link-list ul li a {
    line-height: 1.3
}

footer nav .wrapper>ul .copyright {
    font-size: 1.0714285714rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.0;
    color: rgba(255, 255, 255, 0.7)
}

footer nav .wrapper>ul .badges a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px
}

footer nav .wrapper>ul .sns {
    padding: 15px 0 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.24)
}

footer nav .wrapper>ul .sns li {
    display: inline-block;
    vertical-align: middle;
    opacity: 0.4;
    -webkit-transition: 0.18s cubic-bezier(0.55, 0, 0.1, 1);
    transition: 0.18s cubic-bezier(0.55, 0, 0.1, 1);
    margin-right: 20px
}

footer nav .wrapper>ul .sns li:last-child {
    margin-right: 0
}

footer nav .wrapper>ul .sns li:hover {
    opacity: 1
}

@media screen and (min-width: 769px) and (max-width: 979px) {
    footer .ready {
        text-align: center
    }
    footer .ready .wrapper {
        display: block
    }
    footer .ready .subtitle {
        margin-bottom: 20px
    }
}

@media screen and (max-width: 768px) {
    footer .ready {
        text-align: center
    }
    footer .ready .wrapper {
        display: block
    }
    footer .ready .or {
        display: block;
        margin: 20px auto 15px
    }
    footer .ready .subtitle {
        margin-bottom: 30px
    }
    footer nav .wrapper {
        padding: 0
    }
    footer nav .wrapper>ul {
        display: block
    }
    footer nav .wrapper>ul>li {
        margin-bottom: 30px;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        max-width: 160px
    }
    footer nav .wrapper>ul>li:last-child {
        width: 100%
    }
}

ul {
    list-style: none;
}
main{
    overflow: hidden;
}
.platform-brief .block{
    padding: 88px 0;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}
.platform-brief .block img{
    width: 100%;
    max-width: 600px;
    box-shadow: 0px 14px 21px rgba(30,9,54,0.18);
    border-radius: 4px;

}
.platform-brief  .block .right,
.platform-brief  .block .left{
    width: 50%;
}

.platform-brief  .block.right .left{
    padding: 0 70px;
}
.platform-brief  .block .right{
    padding: 0 70px;
}
.platform-brief .block.right .right {
    padding: 0 ;
}

.platform-brief .block h3{
    font-family: "Moderat",sans-serif;
    font-weight: 500;
    font-size: 2.2857142857rem;
    line-height: 40px;
    display: inline-block;
    margin-bottom: 24px;
    color: #1e0936;
    vertical-align: middle;
    
}
.platform-brief .block  p{
    font-size: 1.3571428571rem;
    color: rgba(30,9,54,0.8);
    line-height: 1.5;
}
.platform-brief  .block li+li{
   
    margin-top: 15px;
}
.platform-brief  .block li{
    font-size: 1.3571428571rem;
    color: rgba(30,9,54,0.8);
    line-height: 1.5;
}
.platform-brief  .block ul{
    margin-top: 20px;
    padding-left: 15px;
    list-style: disc;
}
.container{  
    width: 100%;
    max-width: 1300px;
    display: block;
    margin: 0 auto;
    padding: 0 20px;
}


 .customer-quote__content,.signup_content{
     padding: 20px 20px;
     text-align: center;
     background-color:#4842B7;
     color: white;
 } 
 .quote-logo{
    display: inline-block;
    margin: 1rem 0 0;
    max-width: 290px;
 }
 
.customer-quote__content .text-wrapper .bottom-content{
    position: relative;
    margin: 2rem 0 0;
    padding: 2rem 0 0;
}
.customer-quote__content .img-wrapper::after{
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #cbd6e2;
    max-width: 525px;
    width: calc(100% - 4rem);
    height: 0.1625rem;
    margin: 0 auto;
}
.customer-quote__content .text-wrapper .bottom-content::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: #cbd6e2;
    max-width: 525px;
    width: calc(100% - 4rem);
    height: 0.1625rem;
    margin: 0 auto;
}
.customer-quote__content .text-wrapper {
    margin: 2rem;
    position: relative;
}
.customer-quote__content .img-wrapper {
    position: relative;
    text-align: center;
    margin: 2rem 0 2rem;
    padding: 0 0 2rem;
}

.customer-quote__content .text-wrapper .quote{
    font-size: 2rem;
    line-height: 2.625rem;
    quotes: '\201C' '\201D';
    padding: 3rem 0;
}

.customer-quote__content .img-wrapper img{
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.quote-logo img{
    max-width: 70px;
}
.customer-quote__content{
    border-radius: 10px;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
}
.customer-quote__content.no-background{
   box-shadow: none;
   background: transparent;
   color: black;
}
.customer-quote__content.white-background{
    background: white;
    color: black;
}
.customer-quote__content .quote::before,.customer-quote__content .quote span::after{
    position: absolute;
    color: #ff7a59;
    font-size: 7rem;
    font-weight: 500;
    line-height: 0.9;
}
.customer-quote__content .quote span::after{
 
    content: close-quote;
}
.customer-quote__content .quote::before{
    top: 0;
    left: 46%;
    content: open-quote;
}
.quote-attribution p{
    font-family: "Moderat",sans-serif;
}
.quote-attribution .name{
    font-size: 0.833rem;
    font-weight: 600;

}
.quote-attribution .title{
    font-size: 0.7rem;
    font-weight: 500;
    line-height: 15px;
}
.signup_content .free-trial_wrapper img{
    display: inline-block;
    width: 113px;
    height: 31px;
    margin-bottom: 16px;;
}
.free-trial_wrapper,.cta_wrapper{
    z-index: 2;
    position: relative;
}
.btn{
    font-family: "Moderat",sans-serif;
    text-align: center;
    font-size: 1.2857142857rem;
    padding: 15px 30px;
    background-color: #4842B7;
    color: #fff;
    -webkit-transition: 0.18s cubic-bezier(0.55, 0, 0.1, 1);
    transition: 0.18s cubic-bezier(0.55, 0, 0.1, 1);
    text-decoration: none;
    white-space: nowrap;
    line-height: normal;
    border: none;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: .1s ease;
    transition: .1s ease;
    outline: none;
}
.btn:hover{
    background-color: #413ba4;
}
.btn-outline{
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #4842B7;
    color: #4842B7;
}
.btn-outline:hover{
    background-color: #4842B7;
    color: #fff;
}
.btn-white{
    background-color: #fff;
    color: #4842B7;
}
.btn.btn-outline.btn-white{
    box-shadow: inset 0 0 0 2px #fff;
    background-color: transparent;
    color: #fff;
}
.btn.btn-outline.btn-white:hover{
    box-shadow: inset 0 0 0 2px #fff;
    background-color: #fff;
    color: #4842B7;
}
.btn-white:hover{
    background-color: #f2f2f2;
}
.btn-round{
    border-radius: 100px;
}
.btn-larg{
    font-size: 1.1em;
    letter-spacing: 1px;
    padding: 15px 20px;
}
.btn-small{
    font-size: 1.0714285714rem;
    padding: 10px 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    font-weight: 500;
}
.signup_content .cta_wrapper ul li::before{
    content: "";
    background-image: url(/assets/images/arrow-right.svg);
    display: inline-block;
    margin-right: 5px;
    width: 12px;
    height: 12px;
}
.signup_content .cta_wrapper ul li+li{
    margin-top: 8px;
}

.signup_content{
    border-radius:10px ;
    position: relative;
}
.signup_content .free-trial_wrapper h4{
    font-size: 3.2142857143rem;
    line-height: 3.4285714286rem;
    margin-bottom: 20px;
}
.signup_content .free-trial_wrapper h4 br{
    display: none;
}
.signup_content .cta_wrapper span{
    font-family: "Moderat",sans-serif;
    font-weight: bold;
    font-size: 1.0714285714rem;
    line-height: 18px;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    color: #fff;
    display: block;
    margin-bottom: 23px;
}
.signup_content ul{
    text-align: left;
    margin-bottom: 24px;
    margin: 0 auto 24px;
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}
.detail-blocks{
    text-align: center;
    padding: 100px 0;
    border-top: 1px solid #e7e7e7;
}

.detail-blocks_content ul{
    display: block;
    margin-bottom: 50px;
}
.detail-blocks_content h2{
    display: block;
    font-family: "Moderat",sans-serif;
    font-size: 2.2857142857rem;
    font-weight: 500;
    color: #1e0936;
    line-height: 1.2;
    margin-bottom: 80px;
    position: relative;
}
.detail-blocks_content .detail-icon{
    background: rgba(72,66,183,0.1);
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    display: -webkit-box;
    display: flex;
    vertical-align: top;
    -webkit-box-pack: center;
    justify-content: center;
    align-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.detail-blocks_content .detail-icon img{
    max-width: 60px;
    max-height: 60px;
}
.detail-blocks_content .text-wrapper span{
    margin-bottom: 10px;
    display: inline-block;
    font-family: "Moderat",sans-serif;
    font-weight: 500;
    font-size: 1.4285714286rem;
    line-height: 24px;
    color: #1e0936;
}
.detail-blocks_content .text-wrapper p{
    font-size: 1.2857142857rem;
    line-height: 24px;
    color: #1e0936;
    opacity: 0.8;
}
.detail-blocks ul li+li {
    margin-top: 50px;
}

.client-logos{
    padding: 30px 0;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    opacity: 0.8;
}
.logo_content{
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    align-items: center;
    align-content: center;
}
.logo_content img{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    opacity: 0.9;
    max-width: 110px;
    max-height: 60px;
    -o-object-fit: contain;
    object-fit: contain;
}
.introduction{
    background: linear-gradient(173.27deg, #6f42e7 10.1%, #432d80 81.64%);
    padding: 160px 0 40px;
    text-align: center;
    margin-bottom: 160px;
}
.introduction_content h1{
    font-family: "Moderat",sans-serif;
    font-size: 3.2142857143rem;
    font-weight: 500;
    color: #fff;
    line-height: 1.2;
    display: block;
    margin-bottom: 20px;
}
.introduction_content p{
    font-family: "Proxima Nova",sans-serif;
    font-size: 1.4285714286rem;
    color: #fff;
    line-height: 1.4;
    opacity: 0.8;
    display: block;
    margin: 0 auto 40px;
    max-width: 700px;
}
.introduction_content video{
    max-width: 720px;
    max-height: 450px;
    position: relative;
    margin-bottom: -160px;
    box-shadow: 0 33px 30px -20px rgba(55,52,115,0.3);
    border-radius: 5px;
}
.introduction_content .button-wrapper{
    margin: 0 0 80px;
}
.customer-quote,.signup{
    padding: 70px 20px;
}

 @media (min-width: 768px){ 
.customer-quote__content,.signup_content{
    color: white;
    max-width: 750px;
    display: -webkit-box;
    display: flex;
    text-align: left;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    background-color:#4842B7;
    padding: 40px 40px;
    margin: 0 auto;
}

.customer-quote__content .quote::before{
    top: 0;
    left: 0;
}
.customer-quote__content .text-wrapper .quote{
   
    padding:  0;
}
.customer-quote__content .text-wrapper .bottom-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0;
}
.customer-quote__content .text-wrapper .bottom-content::before {
    content: none;
}
.customer-quote__content .img-wrapper::after {
    content: none;
}
.quote-logo{
    
    border-left: 1px solid #cbd6e2;
    max-width: 290px;
    margin: 0 0 0 1.5rem;
    padding-left: 1.5rem
}
.customer-quote__content .text-wrapper {
    padding: 0 0 0 3rem;
    -webkit-box-flex: 1;
    flex: 1;
}

.signup_content{
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-image: linear-gradient(141.55deg, #6660CE 24.31%, #3A34A8 75.08%);
    max-width: 700px;
}

}
.signup_content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/assets/images/signup-block-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    isolation: isolate;
    z-index: 1;
    display: block;
}
.signup_content .cta_wrapper .button-signup{
    display: inline-block;
}
.signup_content .free-trial_wrapper h4{
    font-family: "Moderat",sans-serif;
    font-size: 4rem;
    line-height: 55px;
    color: #fff;
}


.signup_content ul li{
    position: relative;
    font-size: 1.0714285714rem;
    line-height: 15px;
    color: #fff;
}
.signup_content .free-trial_wrapper h4 br{
    display: inline-block;
}


.detail-blocks_content ul{
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}



.detail-blocks_content .detail-icon{
    
    margin-right: 30px;
    display: -webkit-inline-box;
    display: inline-flex;
    
}
.detail-blocks_content .text-wrapper {
    text-align: left;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 160px);
}
.detail-blocks ul li+li {
    margin-top: 0;
}


.resources{
    text-align: center;
    padding: 70px 0 100px 0;
}


.resources h2{
    display: block;
    font-family: "Moderat",sans-serif;
    font-size: 2.2857142857rem;
    font-weight: 500;
    color: #1e0936;
    line-height: 1.2;
    margin-bottom: 50px;
    position: relative;
}
.resources_content .card a{
    text-decoration: none;
    display: block;

}
.resources_content{
    text-align: center;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    flex-wrap: wrap;

}
.resources_content .card .img-wrapper img{
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    -o-object-position: bottom;
    object-position: bottom;
}

.resources_content .card .text-wrapper,.resources_content .card .link-wrapper{
    border-radius: 0 0 5px 5px;
    padding: 20px;
    position: relative;
    text-align: left;
}
.resources_content .card .link-wrapper{
    position: absolute;
    bottom: 0;
}
.resources_content .card .text-wrapper::before{
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 20px 320px;
    border-color: transparent transparent #fff transparent;
}
.resources_content .card .link-wrapper .link{
    font-family: "Moderat",sans-serif;
    font-weight: bold;
    font-size: .9285714286rem;
    color: rgba(30,9,54,0.6);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}

.resources_content .card .link-wrapper .link img{
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    margin-left: 7px;
    margin-top: -3px;
    -webkit-transition: .2s ease;
    transition: .2s ease;
    opacity: 0.6;
}
.resources_content .card .text-wrapper h3{
    font-size: 1.2857142857rem;
    color: rgba(30,9,54,0.9);
    line-height: 1.2;
    display: block;
    margin-bottom: 15px;
    font-weight: 600;
    letter-spacing: 0.2px;
    min-height: 54px;
}
.resources_content .card .img-wrapper{
    height: 190px;
    background-color: #f7fbff;
}
.resources_content .card{
    width: 320px;
    position: relative;
    box-shadow: 0 9px 13px rgba(0,0,0,0.1);
    border-radius: 5px;
    margin: 20px 30px;
    -webkit-box-flex: 0;
    flex: none;
    -webkit-transition: .2s ease;
    transition: .2s ease;
}
.resources_content .card:hover{
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}


@media screen and (max-width: 768px){
    .platform-brief  .block .right,
.platform-brief  .block .left{
    width: 100%;
    padding: 0;
}
.platform-brief .block {
padding: 50px 0;
display: flex;
text-align: center;
flex-wrap: wrap;
}
.platform-brief .block.right .left{
    padding: 0;
    -webkit-box-ordinal-group: 3;
    order: 2;
    }
.platform-brief  .block h3{
    font-size: 1.7142857143rem;
    font-size:calc(1.7142857143rem + 0.5vw);
    line-height: 1.8571428571rem;
    margin-bottom: 20px;
}
.platform-brief  .block p {
    max-width: 440px;
    margin: 0 auto;
}
.platform-brief .block img{
    margin: 0 auto 30px;
}
.resources_content{
    margin-top: 50px;
}

.customer-quote__content .quote span::after{
    bottom: 5rem;
    right: 46%; 
    
}
.logo_content{
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}
.logo_content img{
    margin: 10px 15px;
    max-width: 110px;
}
.introduction_content video{
    max-width: 100%;
    max-height: 180px;
  
}
.introduction_content .button-wrapper a{
    display: block;
    margin: 0 10px 10px;
}
.signup_content .free-trial_wrapper h4{
    font-size: 3.2142857143rem;
    line-height: 3.4285714286rem;
    text-align: center;
    margin-bottom: 20px;
}
.signup_content .cta_wrapper .btn{
    display: block;
}
.signup_content::before{
    background-size: cover;
}
}

@media screen and (max-width: 979px){
    .detail-blocks_content ul {
        display: block;
    }
    .detail-blocks_content ul li+li{
        margin-top: 50px;

    }
    .detail-blocks_content .detail-icon {
        margin: 0 auto 20px;
        display: -webkit-box;
        display: flex;
    }
    .detail-blocks_content .text-wrapper {
        text-align: center;
        display:block;
        width: 100%;
    }
    .detail-blocks_content .text-wrapper p {
        margin: 0 auto;
        max-width: 400px;
}
}

